/* ===== SINGLE CAMERA PAGE ===== */
.single-camera-page {
  text-align: center;
  padding: 30px;
}

.single-camera-page h1 {
  background: #00ffcc;
  display: inline-block;
  padding: 10px 20px;
  border: 4px solid #111;
  box-shadow: 6px 6px 0 #111;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.camera-feed {
  width: 80%;
  max-width: 700px;
  height: 420px;
  border: 4px solid #111;
  background: #ccc;
  box-shadow: 8px 8px 0 #111;
  border-radius: 0;
  margin-top: 15px;
}

.gesture-section {
  margin-top: 40px;
  background: #ffcc00;
  color: #111;
  padding: 20px;
  border: 4px solid #111;
  box-shadow: 6px 6px 0 #111;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.gesture-section h2 {
  color: #ff0000;
  text-transform: uppercase;
}

.gesture-section p {
  font-weight: 600;
  margin-top: 10px;
}

video {
  background: #000;
}
